/* @import './base.css'; */

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: url('./fonts/Inter_24pt-Regular.ttf');
}
@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: normal;
  font-display: auto;
  src: url('./fonts/Inter_24pt-SemiBold.ttf');
}
@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  src: url('./fonts/Inter_24pt-Bold.ttf');
}
@font-face {
  font-family: 'Inter';
  font-weight: 800;
  font-style: normal;
  font-display: auto;
  src: url('./fonts/Inter_24pt-ExtraBold.ttf');
}

:root{
  --primary-text: #000;
  --secondary-text: #8B8B8B;
}

body{
  margin: 0 auto;
}

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  min-height: 100vh;
  /* padding: 2rem; */
  font-family: 'Inter', monospace;
}

/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
} */

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
